*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    width:105%;
    height:100%;
  }
  
  header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background:#129799;
    height:60vh;
  }
  
  .nav-hea{
    width: 70%;
  }
  
  ul{
    
    
    display: flex;
    justify-content:space-evenly;
    list-style: none;
    color: white;
  margin:2.1vh;

    
     }
  
  .box-cps{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
  }
  
  .life{
  
    width: 20rem;
    display:flex;

  }
  
  .compasso{
    font-size:2.5rem;
   color: #F7F7F7;
  display:flex;

  
  
  }
  
  main{
    width:100%;
    height:180vh;
      background: #FFA185;
  display:flex;
  
  
  }
  
  .box-aqua{
   
    width:92vw;
    height:30vh;
  margin-left:25px;
  display:flex;
  flex-direction:column;
   align-items:flex-start;
  justify-content:space-evenly;
  
  }

  .box-aqua p{
    width:36.7rem;
  }
  
  .aquarela{
    color: #F7F7F7;
    padding-top:10px;
  
  
  }
  .box-img{
    
    width:95vw;
    height:55vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:2.1vh;
 
  }
  
  .dance{
    width:45vw;
    height:55vh;
    display:flex;
     object-fit:cover;
  margin:2.1vh;
  
  }
  
  .music{
    width:45vw;
     height:55vh;
    display:flex;
    object-fit:cover;
  margin-right:18px;

  }
  
  
  
  .fita{
  
    width:45vw;
     height:55vh;
    display:flex;
   object-fit:cover;
   margin-right:9px;
   margin-left: 8px;
  }
  
  .girl{
  
    width:45vw;
     height:55vh;
    display:flex;
   object-fit:cover;
  margin-right:18px;

  
  }
  
  .veja{
  margin-left:45vw;
    align-self:center;
  }
  
  footer{
  background: #129799;
  display:flex;
   align-items:center;
  }
  
  .icons{
    display:flex;
    align-items:flex-start;
  margin-left:80px;
  width:95vw;
  justify-content: center;
  }
  
  
  .insta{
     width:2.5em;
    object-fit:cover;
   
  }
  
  .face{
    width:2.5em;
     margin-left:10px;
  }
  
  .linke{
    width:2.5em;
     margin-left:10px;
  }
  
  .pint{
    width:2.5em;
     margin-left:10px;
  }
  
  .nav-footer{
    width:40%;
  margin-left:300px;
  align-self: center
  }


 @media(max-width:780px){
   .box-cps{
     flex-direction: column-reverse;

   }
   .aquarela{
    color: #F7F7F7;
    padding-top:10px;

  
  
  }
   .compasso{
     position: relative;
     bottom: 35px;
     text-align: center;

   }
header{
  height: 70vh;
}
   
 }

 @media(max-width:784px){
  .nav-footer  { 
    width:60%;
  margin-left:10px;
  margin-bottom:20px;
 
  }

   }
  @media(max-width:624px) {
    footer{
      display:flex ;
      flex-direction: column-reverse;

  }
  

      .icons{ 
      margin-left:2px;
      position: relative;
      bottom: 25px;
      margin-left: 20px;
     
      }
      
      .nav-footer li  { 
        display: flex;
        justify-content: space-evenly;
        width:60%;
      margin-left:5px;
      margin-bottom:20px;

      }
     
      .box-aqua p{
        width:19.7rem;
      
      }

      .base{
       position: relative;
      bottom: 25px;
      }
    
  }



 